.timer{
    z-index: 2;
    position: fixed;
    margin-left: 85%;
}
#timeclock{
    font-size: 50px;
    text-align: center;
    color: black;
}
.timeBody{
    background-color: green;
    
} 
#score{
    color: green;
    font-size: 50px;
} 
#questionOne,
#questionTwo, 
#questionThree, 
#questionFour, 
#questionFive {
    font-size: 20px;
    font-weight: bold;
}